/* mindkettonknek kell */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-image: url(kepek/hatter.jpg);
    background-position: center;
    background-size: cover;*/
}

header {
    flex:0 0 100%;
}

nav {
    flex: 0 0 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 90%;
}

aside {
    flex: 0 0 30%;
}

article {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

article :nth-child(1) {
    flex: 0 0 100%;
}

footer{
    flex: 0 0 100%;
}

article > div{
    flex: 0 0 calc(33% - 10px);
}

form > div {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

header {
    text-align: center;
}

@media screen and (max-width: 600px) {
    aside {
        flex: 0 0 100%;
    }

    nav ul {
        flex-direction: column;
    }

    article {
        flex: 0 0 100%;
    }
    div{
        flex: 0 0 100%;
    }
  }

/* index. html */

.kepek {
    border: 1px solid black;
    padding: 5px;
}

header > h1 {
    border-bottom: 2px solid black;
}


/* artablazat.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


